<div class="card card-primary" style="margin: 20px!important; " >
    <div class="card-header">
    <h3 class="card-title">Venta de Repuestos</h3>
    </div>   

    <div class="row" style="margin: 20px!important; padding: 20px!important;">
        <div class="col-12 row" >  
            <div class="form-row">
                <div class="col">
                    <label for="fechaDesde">Desde</label>
                    <input type="date" class="form-control" id="fechaDesde">
                </div>
                <div class="col">
                    <label for="fechaHasta">Hasta</label>
                    <input type="date" class="form-control" id="fechaHasta">
                </div>
            </div>            
            <div class="col-md-6 col-lg-2"   style="margin-top: 0rem!important;">
                <label for="selectOficinas">Oficina</label>
                <select class="form-control " id="selectOficinas"></select>  
            </div>  
            <div class="col-md-3 col-lg-6"  style="margin-top: 1.75rem!important;">
                <button class="btn btn-primary col-md-3" (click)="onSearch()"><i class="fas fa-search "></i> Buscar</button>  
                <button style="margin-left: 2.25rem!important;margin-top: 0.1rem!important;" class="btn btn-danger col-md-xs"  (click)="generarPDF()"><i class="fas fa-file-pdf"></i> PDF</button>
                <button style="margin-left: 1rem!important;margin-top: 0.1rem!important;" class="btn btn-info col-md-xs"  (click)="generarEXCEL()"><i class="fas fa-file-excel"></i> Excel</button>
            </div>       
        </div> 
    </div>  
        <div *ngIf="isLoading" class="spinner-container">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>      
        <div id="miLista"  class="table-responsive" style="padding-left: 40px!important; padding-right: 40px!important;"> 
          <table id="DTable" class="display datatable "  style="width:95%"></table>
        </div>     
        <div class="card-footer">       
        </div>
</div>

  



